.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #000;
  border-radius: 4px;
  padding: 10px;
}

.card .question,
.card .answer {
  width: 100%;
}
.card .answer {
  display: flex;
  flex-direction: column;
}
.card .answer button {
  width: 50px;
  height: 40px;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
}

.card .flipButtons {
  display: flex;
  justify-content: space-between;
}
.card .flipped {
  transform: rotateY(180deg);
}
